body {font-family: Arial, Helvetica, sans-serif;
    background-color: #ffe6e6;}

nav {background-color: #ab2df9;
    padding: 10px;
    margin-bottom: 30px;
    ;}
nav a {color: #000004;
    background-color: #fff2f2; 
    padding: 8px;
    border:#000004 1px solid;

}
nav a:hover {background-color: #1d1d16}

h1, h2 {color:#ab2df9}
h1 {font-size: 5em}
h2 {font-size: 2em}

p {color: #6a3f3f}

a {color: #0052A1}




/* //////BREAK////// Attempt at Nav Query*/

@media only screen and (max-width: 800px) {
    nav a {width: 100%;
        display: block;
        padding: 10px 5px;}

    span.pipe {
        display: none;}

}
    
    
    



