body {font-family: Arial, Helvetica, sans-serif;
    background-color: #ffb3b3;}

nav {background-color: #a4c0dc;
    padding: 10px;
    margin-bottom: 30px;}
nav a {color: #DCA4CE}
nav a:hover {background-color: #DBDCA4}

h1, h2 {color:#BD76E9}
h1 {font-size: 5em}
h2 {font-size: 2em}

p {color: #906464}

a {color: #A4DCD8}


